.card {
    display: flex;
    justify-content: center;
}

a {
    color: rgb(95, 95, 95);
}

.btn {
    color: rgb(95, 95, 95);
}

.submit-btn {
    color: white;
}

.jumbotron {
    padding: 1rem 1rem;
    color: rgb(243, 243, 243);
    background-color: rgb(158, 158, 158);
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    width: auto;
    height: 35vh;
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

#translator-container{
    width: 70vw;
    margin: auto;
    text-align: center;
}

#phrase-container{
    margin: auto;
    justify-content: center;
    text-align: center;
}

.backSplash {
    display: flex;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/20/18/23/cartography-3244166_960_720.png");
}

.btn-outline-light{
    padding: 1rem;
    border-radius: 5em;
}

